@page "/counter"

<h1>Counter</h1>

<p>Current count: @_currentCount.ToString()</p>

<button class="btn btn-primary" 
		@onclick="@IncrementCount">
	Click me
</button>

@code {
	private int _currentCount;


	#region Overrides of ComponentBase
	protected override async Task OnInitializedAsync()
	{
		#if DEBUG
		await Task.Delay(5000);
		#endif
	}
	#endregion


	private void IncrementCount()
	{
		_currentCount++;
	}


}